.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}
.moving-box {
  background-color: #333;
  margin-top: 5px;
  width: 20px;
  height: 10px;
  position: absolute;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

@-webkit-keyframes sk-cubemove {
  50% { -webkit-transform: translateX(86px)  }
  100% { -webkit-transform: translateX(0px) }
}

@keyframes sk-cubemove {
  50% {
    transform: translateX(86px);
    -webkit-transform: translateX(86px);
  } 100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}
